<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2 id="mainHead">
                    Eat-Da-Burger!!
                </h2>

            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
            <h3>
                Burgers that are NOT devoured!
            </h3>
            <p>
                <div id="left-side">

                    <ul>
                        {{#each burgers}}
                        {{#unless devoured}}
                        {{> burgers/burger-block devour=true}}
                        {{/unless}}
                        {{/each}}
                    </ul>

                </div>
            </p>
        </div>


        <div class="col-md-4">
            <h3>
                Add a Burger
            </h3>
            <p>
                <form class="create-update-form" action="burgers/create" method="POST">

                    <div class="form-group">
                        <label for="bu">Burger Name:</label>
                        <input type="text" id="bu" name="burger_name" required>
                    </div>
                    <p>
                        <button class="btn btn-success" type="submit">ADD BURGER</button>
                    </p>

                </form>
            </p>
        </div>



        <div class="col-md-4">
            <h3>
                Burgers that are devoured!
            </h3>
            <div id="right-side">

                <ul>
                    {{#each burgers}}
                    {{#if devoured}}
                    {{> burgers/burger-block devour=true}}
                    {{/if}}
                    {{/each}}
                </ul>
            </div>

        </div>
    </div>
</div>