.jumbotron{
  background-image: url("../img/resized-burger1.jpg");
  height:280px;
  /* background-repeat: no-repeat; */
  background-size: cover;
  border-bottom:1px solid #ff6a00;
  color: white;
}
#mainHead {color: white;}

li {
    padding: 5px;
    margin: 5px;
    width: 80%;
    background: green;
    color:white;
  }
  
  .label {
    font-weight: bolder;
    font-size: 28px;
    color: white;
  }
  
  .update-form {
    padding: 5px;
    margin: 5px;
    background:black;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  .btn1{
    margin-right: 0;
  }
  .input-group-btn {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    width: 50%;
    vertical-align: middle;
  }