<li>
	{{burger_name}}

<button class="change-devour btn btn-warning    {{#unless devour}} invisible {{/unless}}  {{#if devour}} visible{{/if}}"
       data-newdevour="{{#if devour }}1{{else}}0{{/if}}" data-id="{{id}}" >  Devour It!!
 </button>


</li>


